body{
    min-height: 100vh;
    position: relative;
    padding-bottom:5em;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

main{
    min-height:100vh;
    background-image: url(../img/Fondo2.jpg)
}

h1{
    padding: 10px;
}