#gallery{
    padding: 20px;
}
.Grid-cont{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,auto);
    text-align: center;
    grid-gap: 20px;
}


.gal{ 
    &-1{
        grid-column:1/2;
        grid-row:1/2;
    }
    &-2{
        grid-column:1/2;
        grid-row:2/3;

    }
    &-3{ 
        grid-column:1/2;
        grid-row:3/4;
        
    }
    &-4{
        grid-column: 3/4;
        grid-row:1/2;

    }
    &-5{
        grid-column:3/4;
        grid-row:2/3;
    
    }
    &-6{
        grid-column:3/4;
        grid-row:3/4;
    }

}

.img-fluid:hover {
                    transform: scale(1.12,1.12);
}