$lemon: rgb(218, 87, 211);

$perso: $lemon;


$colores: (
    Fuxia: rgb(218,87,211),
    Verde: rgb(29, 240, 100),
    Amarillo: rgba(231, 241, 86, 0.897),
    Negro: black,
    Blanco: white,
    Rojo: rgba(236, 15, 15, 0.678),
);

.back{
    &-Verde{
    background-color: map-get($colores , "Verde" )}
    
    &-Fuxia{
        background-color: map-get($colores , "Fuxia" )}
    
    &-Amarillo{
    
        background-color: map-get($colores , "Amarillo" )}

    &-Negro{
                background-color: map-get($colores , "Negro" )}
    
    &-Blanco{
                    background-color: map-get($colores , "Blanco" )}
}

.btn-basic {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.btn-add {
    @extend.btn-basic;
    background-color: map-get($colores , "Negro");
    color: map-get($colores, "Blanco" );
}

.btn-remove {
    @extend .btn-basic;
    background-color: map-get($colores , "Rojo");
    color: map-get($colores, "Blanco" );

}

@mixin bordes {

    border: 5px solid black;
    
}

.bord {
    @include bordes;
}

#botoncito {
    margin-top:  100px;
    width: 50%;
}